<mat-toolbar class="bgHeader">
  <ul>
    <a *ngIf="_userService.loggedIn()" routerLink="listTask">Lista de Tareas</a>
  </ul>
  <ul>
    <a *ngIf="_userService.loggedIn()" routerLink="saveTask">Registrar Tarea</a>
  </ul>
  <ul>
    <a *ngIf="_userService.loggedIn()" routerLink="listUser">Admin</a>
  </ul>
  <span class="headerSpacer"></span>
  <ul>
    <a *ngIf="!_userService.loggedIn()" mat-button routerLink="signUp">sign up</a>
    
    <a *ngIf="!_userService.loggedIn()" mat-button routerLink="login">login</a>
    
    <a *ngIf="_userService.loggedIn()" (click)="logout()" mat-button>logout</a>
  </ul>
</mat-toolbar>
